<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign-Up Success</title>
		<link rel="stylesheet" href="../css/water.css" />
		<link rel="stylesheet" href="../css/sign-up.css" />
		<style>
			body {
				display: flex;
				place-content: center;
				place-items: center;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<main>
			<h1>Signed-Up successfully</h1>
		</main>
	</body>
</html>
